/* Estilos para la sección de resultados de búsqueda */
.search-results {
    padding: 20px;
    background-color: #fff; /* Cambia esto según el color de fondo deseado */
  }
  
  /* Estilos para el contenedor */
  .container-flex {
    max-width: 1000px; /* O el ancho máximo que prefieras */
    margin: 0 auto;
    padding: 0 15px;
  }
  
  /* Estilos para el título de la sección */
  .title-text {
    text-align: center;
    margin-bottom: 30px;
  }
  
  /* Estilos para la grilla de resultados */
  .results-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Ajusta el tamaño mínimo según prefieras */
    gap: 20px; /* Espacio entre los libros */
  }
  
  /* Estilos para cada ítem de libro */
  .result-item {
    border: 1px solid #ddd; /* Borde para cada libro */
    padding: 15px;
    background-color: #f9f9f9; /* Cambia esto según el color de fondo deseado para cada libro */
  }
  
  /* Estilos para la portada del libro */
  .book-cover img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  
  /* Estilos para los detalles del libro */
  .book-details {
    text-align: left;
  }
  
  /* Estilos para los textos fuertes */
  .result-text {
    font-weight: bold;
  }
  
  /* Estilos para los botones */
  button {
    background-color: #007bff; /* Color de fondo para los botones */
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse por encima */
  }
  
  /* Estilos para el mensaje de 'No se encontraron libros' */
  .noFound-text {
    text-align: center;
    margin-top: 20px;
  }
  
  /* Estilos para el botón 'Volver al Inicio' */
  button {
    background-color: #6c757d; /* Color de fondo para el botón 'Volver al Inicio' */
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #5a6268; /* Color de fondo al pasar el mouse por encima para 'Volver al Inicio' */
  }
  