.about{
    padding: 10rem 0;
}
.about-content{
    gap: 4rem;
}
.about-title{
    margin: 1rem 0;
}
.about-img img{
    max-width: 520px;
}
.about-text p{
    margin: 1.8rem 0;
    opacity: 0.8;
}

.acercaDe {
    color: black;
    font-size: 30px;
    text-align: center;
}

.about-title{
    color: black;
    font-size: 40px;
    text-align: center; /* Alinea el texto a la izquierda */
    /* o */
    text-align:center; /* Justifica el texto */

}