
:root{
  --white-color: #fff;
}

/* backgrounds */
.bg-white{background-color: var(--white-color);}

/* text */
.text-uppercase{text-transform: uppercase;}
.text-center{text-align: center;}



/* font weights */
.fw-7{font-weight: 700;}
.fs-24{font-size: 4.0rem;}

.flex{
  display: flex;
  align-items: center;
}

.flex-sb{
  justify-content: space-between;
}

.flex-c{
  justify-content: center;
}
