.header-content {
    min-height: 75vh;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), /* Overlay más transparente */
        rgba(0, 0, 0, 0.3)
    ),
    url("../../images/Portada.jpg") center/cover no-repeat;
    flex-direction: column;
    background-color: rgb(255, 255, 255); /* Fondo blanco semitransparente */
}

.header-title {
    font-size: 5.0rem;
    color: #fbfbfb;
    font-style: italic;
}


body {  
    color: #ffffff;
    font-size: 20px;
    font-style: italic;
    

}
a {
    color: #e67e22; /* Naranja para enlaces */
}

button {
    background-color: #e67e22; /* Naranja para botones */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d35400; /* Tono más oscuro de naranja para hover */
}

.incio{
    font-size: 30px;
}